.title span {
    /* display: inline; */
    background-color: rgba(248, 143, 45, 0.9);
    padding: 2px 10px 4px 10px;
    color: black;
}

.title {
    text-align: center;
    font-style: italic;
    font-size: 32px;
}

.word {
    text-align: center;
    font-size: 24px;
}

.word span {
    background-color: rgba(138, 155, 173, 0.9);
    padding: 2px 10px 4px 10px;
}

input[type="textbox"] {
    border-color: grey;
    background-color: rgb(189, 204, 219);
    border-style: solid;
}

table {
    display: flex-box;
    margin: auto;
    background-color: rgba(138, 155, 173, 0.9);
    border: 2px solid grey;
}